FLANNEL_ETCD="-etcd-endpoints=https://10.211.55.20:2379,https://10.211.55.21:2379,https://10.211.55.22:2379"
FLANNEL_ETCD_KEY="-etcd-prefix=/kubernetes/network"
FLANNEL_ETCD_CAFILE="--etcd-cafile=/etc/kubernetes/cert/ca.pem"
FLANNEL_ETCD_CERTFILE="--etcd-certfile=/etc/flanneld/cert/flanneld.pem"
FLANNEL_ETCD_KEYFILE="--etcd-keyfile=/etc/flanneld/cert/flanneld-key.pem"
